.menu-burger{
    @media (min-width: 991.98px){
        display: none !important; 
    }
}
.navlink {
    color: white;
    font-size: 24px;
    line-height: 120%;
    font-weight: 500;
    text-decoration: none;

    &_selected {
        color: white;
        text-decoration: underline;
    }
}
.main-menu {
    &__item{
        @media (max-width: 991.98px){
            visibility: hidden;
            opacity: 0; 
        }
        @media (max-width: 767.98px){
            display: none;
        }
    }
}

.space {
    display: none;
    @media (max-width: 767.98px){
        display: block;
    }
}

.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root{
    display: none !important;
}
